<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RussellMe.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
				<key>dateExpires</key>
				<string>2021/2/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_custom_dialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_share_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>in_app_purchase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>screen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>307293ACD058A54A587F8FFEBDAD8D1F7DA68B0C</string>
						<key>dateExpires</key>
						<string>2021/2/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WA3WL63S6</string>
						<key>name</key>
						<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9WA3WL63S6.com.russellme.russellmeapp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9WA3WL63S6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>RussellMe.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>63a30d4f-2f89-4733-bd86-d975678303fd</string>
				<key>name</key>
				<string>RussellMeDev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9WA3WL63S6</string>
				<key>name</key>
				<string>RUSSELL MINDFULNESS ENTERTAINMENT JAPAN K.K.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
