<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RussellMe.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>460725FC595872206E2887E639B08CB230A53252</string>
				<key>dateExpires</key>
				<string>2020/11/30</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_custom_dialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_share_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460725FC595872206E2887E639B08CB230A53252</string>
						<key>dateExpires</key>
						<string>2020/11/30</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4UD9647QRK</string>
						<key>name</key>
						<string>Baocang Nie</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4UD9647QRK.com.russellme.ryzn</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4UD9647QRK</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4UD9647QRK.com.russellme.ryzn</string>
				</array>
			</dict>
			<key>name</key>
			<string>RussellMe.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b5f95bf-b9cf-4e99-b57d-6b73e80e3de1</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4UD9647QRK</string>
				<key>name</key>
				<string>Baocang Nie</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
